.wrapper {
  width: 50%;
  height: 200px;
  border: 1px solid pink;
}

.text:not(:focus)::after {
  display: inline;
  content: attr(data-placeholder);
  color: gray;
  background-color: transparent;
}

.text {
  border: 1px solid gray;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.item {
  display: inline-block;
}
.item:after {
  margin-left: 5px;
  cursor: pointer;
  display: inline-block;
  content: '╳';
}

.invalid-item {
  border-bottom: 1px dashed #f00000;
  padding: 0;
}

.valid-item {
  padding: 3px 10px;
  border-radius: 10px;
  background: lightblue;
}
